
.contenedor-card {
    display: flex;
    margin: 16px auto;
    gap: 24px;
}

.card {
    background-color: var(--gris);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column ;
    overflow: hidden;
    padding-bottom: 16px ;
    box-shadow: -5px 15px 10px #888888;
}

.detalle-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    gap: 8px;
    /* margin: auto; */
}

.detalle-card .descripcion-card {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-items: center;
    gap: 8px;
   
}

.card img {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.precio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 800;
    color: var(--primario);
}

.valoraciones {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.valoraciones-positivas {
    color: var(--primario);
}

.valoraciones-negativas {
    color: #ffd6b0;
}

.card-botones {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn-secundario { /*Controla los estilos de los botones secundarios*/
    background-color: var(--blanco);
    border: 1px solid var(--secundario);
}

.detalle-card .card-botones .btn-secundario a {
    color: var(--secundario);
}



