body {color: #526840BF; font-family: Helvetica, Arial, sans-serif;}
    a, h1, h2, h3, h4, h5, h6,  .btn {color: #486761; font-weight: 600;}
.fondo-oscuro {background-color: #85B9B361;}
.fondo-claro {background-color: #F6F8F5}